* {
    padding: 0px;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
    font-family: 'Roboto';

    /* Font variables */
    --font-size-xxl: 2.5rem;
    --font-size-xl: 1.75rem;
    --font-size-l: 1.25rem;
    --font-size-m: 1rem;
    --font-size-s: 0.875rem;
    --font-size-xs: 0.7rem;

    /* Color variable */
    --primary-text-color: #F8F4FF;
    --grey-color: #908e93;
    --highlight-text-color: #c77DFF;
    --btn-bg-color: #9D4EDD;
    --secondary-border-color: #E0AAFF;
    --primary-bg-color: #10002b;
    --bg-color-2: #240046;
    --bg-color-3: #3b0058;
    --bg-color-4: #420560;
    --bg-color-5: #320344;
    --primary-chip-bg-color: #5A189A;
}

body {
    margin: 0;
    height: 100%;
    padding: 0;
    color: var(--primary-text-color);
    overflow-x: hidden;
}


a {
    text-decoration: none;
    color: var(--primary-text-color);
}

ul {
    list-style: none;
}

h3 {
    margin-top: 1rem;
}


#header {
    position: sticky;
    top: 0px;
    z-index: 10;
    background-color: var(--primary-bg-color);
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 1rem;
}

.navigation {
    max-width: 1172px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-text-color);
}

.navigation__title {
    font-size: var(--font-size-l);
    font-weight: bold;
}

.navigation__title::first-letter {
    font-size: var(--font-size-xl);
    padding: 0px 4px 0px 2px;
    border-radius: 2px 10px 10px 2px;
    font-weight: bold;
    background: var(--highlight-text-color);
}

.navigation__list {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.navigation__list__item a:hover {
    color: var(--secondary-border-color)
}

.navigation__list--mobile .navigation__list__item a {
    width: 100%;
    font-size: var(--font-size-m);
    display: inline-block;
}

.navigation__icon {
    display: none;
    height: 24px;
    filter: invert(1);
}

.navigation__icon:hover {
    cursor: pointer;
}

.navigation__list--mobile {
    opacity: 0;
    pointer-events: none;
    margin: 0;
    background-color: var(--primary-bg-color);
    padding: 0px;
    position: absolute;
    top: 64px;
    left: 0;
    height: 0px;
    transition: height 0.3s ease-in, opacity 0.3s ease-in;
    width: 100vw;
}

.navigation__list--mobile .navigation__list__item {
    padding: 1rem;
    border-top: 1px solid var(--grey-color);
}

.section {
    scroll-margin-top: 64px;
}

.section--home {
    box-sizing: border-box;
    padding: 10vh 0 0 0;
    min-height: calc(100svh - 64px);
    background: linear-gradient(135deg, var(--primary-bg-color), var(--primary-bg-color), var(--primary-bg-color), var(--bg-color-2), var(--bg-color-3));
}

.section__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 3rem;
}

.section__container--intro {
    display: flex;
    flex-direction: column;
}

.intro__greeting {
    font-size: var(--font-size-xxl);
    margin: 0;
}

.intro__name {
    font-size: var(--font-size-xxl);
    margin-top: 1rem;
}

.intro__role {
    font-size: var(--font-size-xl);
    margin-top: 1rem;
    white-space: nowrap;
}


.intro__role__text {
    position: relative;
}

.intro__role__text::before {
    content: "";
    color: var(--highlight-text-color);
    animation: roleChange 12s infinite;
}

.intro__role__text::after {
    content: "";
    height: 100%;
    width: calc(100% + 8px);
    position: absolute;
    right: -8px;
    background-color: #10002b;
    border-left: 2px solid var(--secondary-border-color);
    animation: blink .8s infinite, typing 20s steps(20) infinite forwards;
}

.intro__description {
    margin: 1rem 0px;
    color: grey;
    font-size: var(--font-size-l)
}

.intro--button {
    align-self: flex-start;
}

.button {
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 4px;
    background-color: var(--btn-bg-color);
    color: var(--primary-text-color);
    border: none;
    font-size: var(--font-size-s);
}

.button:hover {
    cursor: pointer;
}

.chip {
    padding: 4px 8px;
    border-radius: 4px;
    font-size: var(--font-size-s);
    background-color: var(--primary-chip-bg-color);
}


.section__skills__experience {
    background: linear-gradient(135deg, var(--primary-bg-color), var(--primary-bg-color), var(--bg-color-2), var(--bg-color-4), var(--bg-color-5));
}


.section__title {
    text-align: center;
    opacity: 0;
    font-size: var(--font-size-xl);
    transform: translateY(30px);
    transition: all 0.5s;
}

.section.show .section__title {
    opacity: 1;
    transform: translateY(0px);
}

.section.show .section__title__description {
    opacity: 1;
    transform: translateY(0);
}

.section__title__description {
    color: var(--grey-color);
    text-align: center;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.5s;
    font-size: var(--font-size-l);
}

.skills__card {
    opacity: 0;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(40, 9, 92, 0.3), 0 4px 20px rgba(79, 8, 147, 0.5);
}

.section__content {
    margin: 2rem 0px;
}

.section__content--skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.skills__card__title {
    text-align: center;
    font-size: var(--font-size-m);
}

.section.show .skills__card:nth-child(1) {
    animation: slideInLeft 0.5s ease forwards;
    animation-delay: 0.1s;
}

.section.show .skills__card:nth-child(3) {
    animation: slideInLeft 0.5s ease forwards;
    animation-delay: 0.1s;
}

.section.show .skills__card:nth-child(2) {
    animation: slideInRight 0.5s ease forwards;
    animation-delay: 0.1s;
}

.skills__card__content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem;
    gap: 1rem;
}

.skills__card__content__item {
    border: 1px solid var(--grey-color);
    border-radius: 8px;
    box-sizing: border-box;
    padding: 0.3rem 0.5rem;
    flex-basis: 100px;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: var(--font-size-s);
}

.skills__card__content__item__image {
    height: 24px;
    object-fit: contain;
}


.experience__card {
    width: 80%;
    position: relative;
    width: calc(80% - 48px);
    box-sizing: border-box;
    padding: 1rem;
    margin: 1rem auto;
    box-shadow:
        0 2px 5px rgba(134, 83, 190, 0.2),
        0 4px 15px rgba(167, 124, 211, 0.15);
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.5s;
}

.section.show .experience__card {
    transform: translateY(0);
    opacity: 1;
}

.experience__card:nth-child(1) {
    transition-delay: 0.2s;
}

.experience__card:nth-child(2) {
    transition-delay: 0.4s;
}

.experience__card:nth-child(3) {
    transition-delay: 0.6s;
}

.experience__card::before {
    content: "";
    width: 0;
    height: 84%;
    bottom: 0;
    position: absolute;
    left: -24px;
    border: 2px solid var(--secondary-border-color);
    border-radius: 12px;
}

.experience__card__company--name {
    margin-bottom: 4px;
    font-size: var(--font-size-m);
}

.experience__card__company--role {
    font-size: var(--font-size-s);
    font-style: italic;
    color: var(--grey-color);
}

.experience__card__company--duration {
    color: var(--grey-color);
    font-style: italic;
    font-size: var(--font-size-s);
    white-space: nowrap;
}

.experience__card::after {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    left: -30px;
    top: 0;
    border: 2px solid var(--secondary-border-color);
    border-radius: 50%;
}

.experience__card__description {
    padding: 0.5rem;
    list-style: none;
}

.experience__card__description p {
    margin-bottom: 0.5rem;
    color: var(--grey-color);
    font-size: var(--font-size-m);
}


.section__projects__education {
    background: linear-gradient(135deg, var(--primary-bg-color), var(--primary-bg-color), var(--bg-color-2), var(--bg-color-4), var(--bg-color-5));
}

.section__content--projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    opacity: 0;
    transform: translateY(30px);
    transition: all 1s;
}

.project__card {
    width: calc(33% - 20px);
    padding: 1rem;
    box-sizing: border-box;
    box-shadow:
        0 2px 5px rgba(40, 9, 92, 0.3),
        0 4px 15px rgba(79, 8, 147, 0.5);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

.key {
    color: var(--grey-color);
}

.project__card__skills {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0.5rem 0px;
    gap: 0.5rem;
}

.project__card__title {
    margin: 1rem 0px;
    font-weight: bold;
    font-size: var(--font-size-m);
}

.project__card__image {
    width: 100%;
    border-radius: 8px;
    margin: 0 auto;
}

.project__card__content__text {
    color: var(--grey-color);
    font-size: var(--font-size-m);
    margin-bottom: 1rem;
}

.projects__button {
    align-self: flex-start;
    margin-top: auto;
}

.section.show .section__content--projects {
    transform: translateY(0);
    opacity: 1;
}


.education__card {
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    box-shadow:
        0 2px 5px rgba(134, 83, 190, 0.2),
        0 4px 15px rgba(167, 124, 211, 0.15);
    opacity: 0;
    transform: translateY(30px);
    transition: all 1s;
}

.education__card__description {
    color: var(--grey-color);
    font-size: var(--font-size-m);
}

.section.show .education__card {
    opacity: 1;
    transform: translateY(0);
}

.education__card__college {
    margin-bottom: 0.5rem;
    font-size: var(--font-size-m);
}

.education__card__course {
    margin-bottom: 0.5rem;
    font-size: var(--font-size-m);
}

.education__card__year {
    margin-bottom: 0.5rem;
    font-size: var(--font-size-s);
}

.education__card__marks {
    margin-bottom: 0.5rem;
}

.section--contact {
    background: linear-gradient(135deg, var(--primary-bg-color), var(--primary-bg-color), var(--primary-bg-color), var(--bg-color-2), var(--bg-color-3));
}

.section__content--contact {
    opacity: 0;
    transform: translateY(30px);
    transition: all 1s;
}

.contact__form {
    width: 50%;
    padding: 2rem;
    margin: 2em auto;
    box-shadow:
        0 2px 5px rgba(134, 83, 190, 0.2),
        0 4px 15px rgba(167, 124, 211, 0.15);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.section.show .section__content--contact {
    opacity: 1;
    transform: translateY(0);
}

.contact__form input {
    padding: 1rem;
    color: var(--primary-text-color);
    border: 1px solid var(--primary-text-color);
    background-color: transparent;
    border-radius: 4px;

}

.contact__form input:hover {
    outline: none;
    border: 1px solid var(--primary-text-color);
}

.contact__form input:focus {
    outline: 2px solid var(--secondary-border-color);
}

.contact__form textarea {
    height: 64px;
    resize: none;
    padding: 1rem;
    background-color: transparent;
    border: 1px solid var(--primary-text-color);
    color: var(--primary-text-color);
    border-radius: 4px;

}

.contact__form textarea:focus {
    outline: 2px solid var(--secondary-border-color) !important;
}

.contact-form--button {
    align-self: center;
}

.section__content--certifications {
    overflow: hidden;
    white-space: nowrap;
    padding: 32px;
}

.section__content--certifications:hover .section__content--certifications--slides {
    animation-play-state: paused;
}

.section__content--certifications--slides {
    display: inline-block;
    animation: 25s horizontal-slide infinite linear
}


.certification__image {
    max-width: 320px;
    height: 200px;
    aspect-ratio: 16/1;
    margin: 0 0.5rem;
    border-radius: 8px;
}


#footer {
    background: var(--primary-bg-color);
}

#footer .icon {
    width: 32px;
}

.contact__information {
    display: flex;
    min-height: 64px;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

.contact__medium {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.contact__medium:hover {
    color: var(--highlight-text-color);
}

.goal {
    text-align: center;
    color: var(--grey-color);
    font-size: var(--font-size-l);
}

.menu-open+.navigation__close__icon {
    display: block;
}

.menu-open~.navigation__list--mobile {
    height: 320px;
    opacity: 1;
    pointer-events: all;
}


.scroll__indicator {
    width: 24px;
    height: 50px;
    border: 2px solid var(--primary-text-color);
    border-radius: 60px;
    position: absolute;
    bottom: 1.5rem;
    left: 49%;

    &::before {
        content: '';
        width: 8px;
        height: 8px;
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--primary-text-color);
        border-radius: 50%;
        opacity: 1;
        animation: wheel 2s infinite;
        -webkit-animation: wheel 2s infinite;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 767.98px) {
    /* Styles for small screens */

    .section__content--skills {
        grid-template-columns: 1fr;
    }

    .project__card {
        width: 90%;
        margin: 0 auto;
    }

    .section__container {
        padding: 1rem;
    }

    .navigation__list {
        display: none;
    }

    .navigation__menu__icon:not(.menu-open) {
        display: block;
    }

    .scroll__indicator {
        display: none;
    }

    .contact__form {
        width: 100%;
        padding: 1rem;
        box-sizing: border-box;
    }


    .section--home {
        padding: 0px !important;
    }

    .experience__card {
        width: calc(100% - 48px);
        margin-right: 0.5rem;
    }


    .skills__card {
        width: 100%;
    }

    :root {
        /* 28px */
        --font-size-xxl: 1.75rem;
        /* 20px */
        --font-size-xl: 1.25rem;
        /* 16 px */
        --font-size-l: 1rem;
        /* 14px */
        --font-size-m: 0.875rem;
        /* 12px*/
        --font-size-s: 0.75rem;
        /* 10px */
        --font-size-xs: 0.625rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

    /* Styles for medium screens */
    .section__container {
        padding: 1rem 2rem;
    }

    .section__content--skills {
        grid-template-columns: 1fr;
    }

    .project__card {
        width: 45%;
    }

    .scroll__indicator {
        display: none;
    }

    .contact__form {
        width: 70%;
    }

    .section--home {
        padding: 0px !important;
    }

    .experience__card {
        width: calc(90% - 48px);
    }

    .education__card {
        width: 90%;
    }

    .skills__card {
        width: 90%;
        margin: 0 auto;
    }

    .navigation__list--mobile {
        opacity: 0 !important;
        height: 0 !important;
        pointer-events: none !important;
    }

    .navigation__icon {
        display: none !important;
    }

    :root {
        /* 32px */
        --font-size-xxl: 2rem;
        /* 24px */
        --font-size-xl: 1.5rem;
        /* 18px */
        --font-size-l: 1.125rem;
        /* 15px */
        --font-size-m: 0.9375rem;
        /* 13px */
        --font-size-s: 0.8125rem;
        /* 10px */
        --font-size-xs: 0.625rem;
    }
}

/* Large devices (desktops, 992px and above) */
@media (min-width: 992px) {

    /* Styles for large screens */
    .navigation__list--mobile {
        opacity: 0 !important;
        height: 0 !important;
        pointer-events: none !important;
    }

    .navigation__icon {
        display: none !important;
    }
}


/* Key frames */


@keyframes wheel {
    to {
        opacity: 0;
        top: 24px;
    }
}


@keyframes blink {
    100% {
        border-left: 2px solid var(--primary-bg-color);
    }
}

@keyframes roleChange {

    0%,
    33% {
        content: "WEB DEVELOPER.";
    }

    34%,
    66% {
        content: "FRONTEND DEVELOPER.";
    }

    67%,
    100% {
        content: "ANGULAR DEVELOPER.";
    }
}

@keyframes typing {

    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 8px);
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes horizontal-slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}
