* {
    padding: 0px;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
    font-family: 'Roboto';

    /* Font variables */
    --font-size-xxl: 2.5rem;
    --font-size-xl: 1.75rem;
    --font-size-l: 1.25rem;
    --font-size-m: 1rem;
    --font-size-s: 0.875rem;
    --font-size-xs: 0.7rem;

    /* Color variable */
    --primary-text-color: #F8F4FF;
    --grey-color: #908e93;
    --highlight-text-color: #c77DFF;
    --btn-color: #9D4EDD;
    --bg-color: #10002b;
    --bg-color-2: #240046;
    --nav-bar-bg-color: #3c096c;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    color: var(--primary-text-color);
    overflow-x: hidden;
}


a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}



#header {
    position: sticky;
    top: 0px;
    z-index: 10;
    background-color: #10002b;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 1rem;
}

.navigation {
    max-width: 1172px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}


.navigation__list {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.navigation__icon {
    display: none;
    height: 24px;
    filter: invert(1);
}

.navigation__icon:hover {
    cursor: pointer;
}

.navigation__list--mobile {
    opacity: 0;
    pointer-events: none;
    margin: 0;
    background-color: #10002b;
    padding: 0px;
    position: absolute;
    top: 64px;
    left: 0;
    height: 0px;
    transition: height 0.3s ease-in, opacity 0.3s ease-in;
    width: 100vw;
}

.navigation__list--mobile .navigation__list__item {
    padding: 1rem;
    border-top: 1px solid var(--grey-color);
}


.section {
    scroll-margin-top: 64px;
}

.section--home {
    box-sizing: border-box;
    padding: 10vh 0 0 0;
    min-height: calc(100svh - 64px);
    /* background-color: #10002b; */
    /* linear-gradient(220deg, #10002b, #10002b, #10002b, #240046, #4d0172) */
    background: linear-gradient(135deg, #10002b, #10002b, #10002b, #240046, #3b0058);
}

.section__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 3rem;
}

.section__container--intro {
    display: flex;
    flex-direction: column;
}

.intro__greeting {
    font-size: var(--font-size-xxl);
    margin: 0;
}

.intro__name {
    font-size: var(--font-size-xxl);
    margin-top: 1rem;
}

.intro__role {
    font-size: var(--font-size-xl);
    margin-top: 1rem;
    white-space: nowrap;
}


.intro__role__text {
    position: relative;
}

.intro__role__text::before {
    content: "";
    color: var(--highlight-text-color);
    animation: roleChange 12s infinite;
}

.intro__role__text::after {
    content: "";
    height: 100%;
    width: calc(100% + 8px);
    position: absolute;
    right: -8px;
    background-color: #10002b;
    border-left: 2px solid #E0AAFF;
    animation: blink .8s infinite, typing 20s steps(20) infinite forwards;
}

.intro__description {
    margin: 1rem 0px;
    color: grey;
    font-size: var(--font-size-l)
}

.intro--button {
    align-self: flex-start;
}

.button {
    padding: 0.7rem;
    margin-top: 1rem;
    border-radius: 4px;
    background-color: #9D4EDD;
    color: white;
    border: none;
}

.button:hover {
    cursor: pointer;
}

.chip {
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #5A189A;
}


.section__skills__experience {
    background: linear-gradient(135deg, #10002b, #10002b, #240046, #420560, #320344);
}


.section__title {
    text-align: center;
    opacity: 0;
    font-size: var(--font-size-xl);
    transform: translateY(30px);
    transition: all 0.5s;
}

.section.show .section__title {
    opacity: 1;
    transform: translateY(0px);
}

.section.show .section__title__description {
    opacity: 1;
    transform: translateY(0);
}

.section__title__description {
    color: var(--grey-color);
    text-align: center;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.5s;
}

.skills__card {
    opacity: 0;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(40, 9, 92, 0.3), 0 4px 20px rgba(79, 8, 147, 0.5);
}

.section__content {
    margin: 2rem 0px;
}

.section__content--skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.skills__card__title {
    text-align: center;
}

.section.show .skills__card:nth-child(1) {
    animation: slideInLeft 0.5s ease forwards;
    animation-delay: 0.1s;
}

.section.show .skills__card:nth-child(3) {
    animation: slideInLeft 0.5s ease forwards;
    animation-delay: 0.1s;
}

.section.show .skills__card:nth-child(2) {
    animation: slideInRight 0.5s ease forwards;
    animation-delay: 0.1s;
}

.skills__card__content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem;
    gap: 1rem;
}

.skills__card__content__item {
    border: 1px solid var(--grey-color);
    border-radius: 8px;
    box-sizing: border-box;
    padding: 0.3rem 0.5rem;
    flex-basis: 100px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.skills__card__content__item__image {
    height: 24px;
    object-fit: contain;
}


.experience__card {
    position: relative;
    width: calc(100% - 48px);
    box-sizing: border-box;
    padding: 1rem;
    margin: 1rem auto;
    box-shadow:
        0 2px 5px rgba(134, 83, 190, 0.2),
        0 4px 15px rgba(167, 124, 211, 0.15);
    /* border: 1px solid #9D4EDD; */
    opacity: 0;
    transform: translateY(40px);
    transition: all 1s;
}

.section.show .experience__card {
    transform: translateY(0);
    opacity: 1;
}

.experience__card:nth-child(1) {
    transition-delay: 0.3s;
}

.experience__card:nth-child(2) {
    transition-delay: 0.5s;
}

.experience__card:nth-child(3) {
    transition-delay: 0.7s;
}

.experience__card::before {
    content: "";
    width: 0;
    height: 84%;
    bottom: 0;
    position: absolute;
    left: -24px;
    border: 2px solid #E6BBFF;
    border-radius: 12px;
}

.experience__card::after {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    left: -30px;
    top: 0;
    border: 2px solid #E6BBFFed;
    border-radius: 50%;
}

.experience__card__description {
    padding: 1rem;
    list-style: none;
}

.experience__card__description p {
    margin-bottom: 0.5rem;
}


.section__projects__education {
    background: linear-gradient(135deg, #10002b, #10002b, #240046, #420560, #320344);
}

.section__content--projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    opacity: 0;
    transform: translateY(30px);
    transition: all 1s;
}

.project__card {
    width: calc(33% - 20px);
    padding: 1rem;
    box-sizing: border-box;
    box-shadow:
        0 2px 5px rgba(40, 9, 92, 0.3),
        0 4px 15px rgba(79, 8, 147, 0.5);
    border-radius: 16px;
}

.key {
    color: var(--grey-color);
}

.project__card__skills {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0.5rem 0px;
    gap: 0.5rem;
}

.project__card__title {
    margin: 1rem 0px;
    font-weight: bold;
}

.project__card__image {
    width: 100%;
    border-radius: 8px;
    margin: auto;
}

.project__card__description__text {
    color: var(--grey-color);
}

.section.show .section__content--projects {
    transform: translateY(0);
    opacity: 1;
}


.section--education {
    /* background-color: #10002b; */
    /* background: linear-gradient(135deg, #10002b, #10002b, #10002b, #240046, #3b0058); */

}

.education__card {
    padding: 1rem;
    box-shadow:
        0 2px 5px rgba(134, 83, 190, 0.2),
        0 4px 15px rgba(167, 124, 211, 0.15);
    /* border: 1px solid #E6BBFF; */
    opacity: 0;
    transform: translateY(30px);
    transition: all 1s;
}

.education__card__description {
    color: var(--grey-color);
}

.section.show .education__card {
    opacity: 1;
    transform: translateY(0);
}

.education__card__college {
    margin-bottom: 0.5rem;
}

.education__card__course {
    margin-bottom: 0.5rem;
}

.education__card__year {
    margin-bottom: 0.5rem;
    font-size: var(--font-size-s);
}

.education__card__marks {
    margin-bottom: 0.5rem;
}

.section--contact {
    /* background-color: #240046; */
    background: linear-gradient(135deg, #10002b, #10002b, #10002b, #240046, #3b0058);

}


.contact__form {
    width: 50%;
    padding: 2rem;
    margin: 2em auto;
    box-shadow:
        0 2px 5px rgba(134, 83, 190, 0.2),
        0 4px 15px rgba(167, 124, 211, 0.15);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.contact__form input {
    padding: 1rem;
    color: white;
    border: 1px solid white;
    background-color: transparent;

}

.contact__form input:hover {
    outline: none;
    border: 1px solid white;
}

.contact__form input:focus {
    outline: 2px solid #9D4EDD;
}

.contact__form textarea {
    height: 64px;
    resize: none;
    padding: 1rem;
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.contact__form textarea:focus {
    outline: 2px solid #9D4EDD !important;
}

.contact-form--button {
    align-self: center;
}


#footer {
    background: #10002b;
}

#footer .icon {
    width: 32px;
}

.contact__information {
    display: flex;
    min-height: 64px;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

.contact__medium {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.goal {
    text-align: center;
    color: var(--grey-color);
    font-size: var(--font-size-l);
}

.menu-open+.navigation__close__icon {
    display: block;
}

.menu-open~.navigation__list--mobile {
    height: 320px;
    opacity: 1;
    pointer-events: all;
}


.scroll__indicator {
    width: 24px;
    height: 50px;
    border: 2px solid white;
    border-radius: 60px;
    position: absolute;
    bottom: 1.5rem;
    left: 49%;

    &::before {
        content: '';
        width: 8px;
        height: 8px;
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        border-radius: 50%;
        opacity: 1;
        animation: wheel 2s infinite;
        -webkit-animation: wheel 2s infinite;
    }
}

@keyframes wheel {
    to {
        opacity: 0;
        top: 24px;
    }
}


@keyframes blink {
    100% {
        border-left: 2px solid #10002b;
    }
}

@keyframes roleChange {

    0%,
    33% {
        content: "WEB DEVELOPER.";
    }

    34%,
    66% {
        content: "FULL STACK DEVELOPER.";
    }

    67%,
    100% {
        content: "ANGULAR DEVELOPER.";
    }
}

@keyframes typing {

    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 8px);
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100px);
        /* Start off-screen to the left */
        opacity: 0;
    }

    to {
        transform: translateX(0);
        /* End at the original position */
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100px);
        /* Start off-screen to the right */
        opacity: 0;
    }

    to {
        transform: translateX(0);
        /* End at the original position */
        opacity: 1;
    }
}



/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /* Styles for extra small screens */

    .section--home {
        padding: 0px;
    }

    .section__content--skills {
        grid-template-columns: 1fr;
    }

    .project__card {
        width: 100%;
    }

    .section__container {
        padding: 1rem 2rem;
    }

    .navigation__list {
        display: none;
    }

    .scroll__indicator {
        display: none;
    }

    .navigation__menu__icon:not(.menu-open) {
        display: block;
    }

    .experience__card {
        width: 85%;
    }

    .contact__form {
        width: 100%;
        box-sizing: border-box;
    }


    :root {
        --font-size-xxl: 1.75rem;
        --font-size-xl: 1.25rem;
        --font-size-l: 1rem;
        --font-size-m: 0.875rem;
        /* 14px */
        --font-size-s: 0.75rem;
        /* 12px */
        --font-size-xs: 0.625rem;
        /* 10px */
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    /* Styles for small screens */

    .section__content--skills {
        grid-template-columns: 1fr;
    }

    .project__card {
        width: 100%;
    }

    .section__container {
        padding: 1rem 2em;
    }

    .navigation__list {
        display: none;
    }

    .navigation__menu__icon:not(.menu-open) {
        display: block;
    }

    .scroll__indicator {
        display: none;
    }

    .contact__form {
        width: 100%;
        box-sizing: border-box;
    }


    .section--home {
        padding: 0px !important;
    }

    :root {
        --font-size-xxl: 1.75rem;
        --font-size-xl: 1.25rem;
        --font-size-l: 1rem;
        --font-size-m: 0.875rem;
        /* 14px */
        --font-size-s: 0.75rem;
        /* 12px */
        --font-size-xs: 0.625rem;
        /* 10px */
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

    /* Styles for medium screens */
    .section__container {
        padding: 1rem 2rem;
    }

    .section__content--skills {
        grid-template-columns: 1fr;
    }

    .project__card {
        width: 45%;
    }

    .scroll__indicator {
        display: none;
    }

    .contact__form {
        width: 70%;
    }


    .section--home {
        padding: 0px !important;
    }

    :root {
        --font-size-xxl: 2rem;
        --font-size-xl: 1.5rem;
        --font-size-l: 1.125rem;
        --font-size-m: 0.9375rem;
        /* 15px */
        --font-size-s: 0.8125rem;
        /* 13px */
        --font-size-xs: 0.625rem;
        /* 10px */
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* Styles for large screens */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* Styles for extra large screens */
}
