<app-header></app-header>
<main id="main-content" class="mt-16">
  <section id="hero">
    <app-hero></app-hero>
  </section>
  <section id="skills">
    <app-skills></app-skills>
  </section>
  <section id="experience">
    <app-experience></app-experience>
  </section>
  <section id="projects">
    <app-projects></app-projects>
  </section>
  <section id="certifications">
    <app-certifications></app-certifications>
  </section>
  <section id="education">
    <app-education></app-education>
  </section>
  <section id="contact">
    <app-contact></app-contact>
  </section>
</main>
<app-footer></app-footer>
